<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Todos</h1>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
<%= /*added a deadline to the schema and todo list*/
    /*could go even further to take in a date and then return a countdown
      by taking the date at the time of refreshing with the "due date"%>
     
     
      <% if (el.deadline === 0) { %>
        <span> </span> 
    <% } %>
    <% else if (el.deadline < 0) { %>
        <span>This task is late by <% el.deadline*-1 => days</span> 
    <% } else {%>
                <span class="deadline"><% deadline %> days remaining</span>
    <% } %>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="date" id="date" placeholder="Complete before: " name="deadline">
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>